<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">

<link rel="stylesheet" th:href="@{/style.css}">
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
	integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
	crossorigin="anonymous">
<title>網頁記事本</title>
</head>

<body>
<h2 align="center">網頁記事本</h2>


<!-- 列出現有的記事本 -->
	<ul th:each="test:${browserTextList}">
		<li th:text="${test}"></li> 
	</ul>



<!-- 建立新記事本 -->
<div align="center" style="background-color:#f2f2f2" >
<form class="createNew" id="createNew" th:object="${browserTextObject}">
	<p>標題:<input id="title" name="title01" required="required" placeholder="請輸入標題"></p>
	<p><textarea id="text" name="text01" required="required" placeholder="請輸入訊息" rows="4" cols="50"></textarea></p>
	<p><input id="label" name="label01" required="required" placeholder="請輸入標籤"></p>
</form>
<button type="submit" form="createNew" class="createBtn">建立新記事本</button>
</div>

<!-- 修改現有記事本 -->
<form style="float: left">
	<div th:each="DesignatedText : ${designatedText}" style="width: 80px">
		<input th:text="${DesignatedText.getTitle()}"></input>
		<textarea th:text="${DesignatedText.getText()}" rows="50" cols="50"></textarea>
		<button style="float: left">取消</button>
		<button style="float: right">儲存</button>
	</div>
</form>
</body>

<script src="https://code.jquery.com/jquery-3.6.0.js"></script>
<script>

	function createBrowserText(e){
		e.preventDefault()
		console.log(e)
		let title01 = $('#title').val();
		let text01 = $('#text').val();
		let label01 = $('#label').val();
		console.log(title01)
		console.log('ajax initialized')
		$.ajax({
			url:"/",
			type:"POST",
			dataType:"JSON",
			data:{
				"title":title01,
				"text":text01,
				"label":label01,
			},
			success:function(){
				alert('Data saved');
			},
			error:function(){
				alert('Data saved');
			}
		})
	}

	function findBrowserTextById(id) {
		console.log('ajax initialized')
		$.ajax({
			url : "/" + id,
			type : "GET",
			dataType : "JSON",
			success : function(obj) {
				alert('Data Get')
			},
			error : function(xhr, ajaxOptions, thrownError) {
				alert('Data Failed To Be Get')
			}
		})
	}
	$('.createBtn').on('click',createBrowserText)
</script>
</html>