<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">


    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
          integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l"
          crossorigin="anonymous">
    <link rel="stylesheet" href="/css/style.css">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
            integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
            integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.min.js"
            integrity="sha384-+YQ4JLhjyBLPDQt//I+STsc9iw4uQqACwlvpslubQzn4u2UU2UFM80nGisd026JF"
            crossorigin="anonymous"></script>

    <title>網頁記事本</title>
</head>
<body>

<div class="container">
    <div class="container-fluid">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="#">網頁記事本</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse"
                    data-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false"
                    aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">

                    <li class="nav-item">
                        <a class="nav-link" href="/memos">Memos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/memos?archived=true">Archived
                            Memos</a>
                    </li>

                </ul>
                <form class="form-inline my-2 my-lg-0" method="GET"
                      th:action="@{/memos/search}">
                    <input type="hidden" name="archived" th:value="${archived}">
                    <input class="form-control mr-sm-2" type="text"
                           placeholder="Search" aria-label="Search"
                           name="labelFilter" th:value="${labelFilter}">
                    <button class="btn btn-outline-success my-2 my-sm-0"
                            type="submit">
                        Search
                    </button>
                </form>
            </div>
        </nav>

        <!-- 建立新記事本 -->
        <form th:action="@{/memos/{id}(id = ${browserTextModel.id})}"
              th:object="${browserTextModel}" method="POST">
            <div class="form-group title-content">
                <label for="title">Title</label>
                <input type="text" class="form-control" id="title" required
                       placeholder="請輸入標題" th:field="*{title}">
            </div>
            <div class="form-group">
                <label for="text">Text</label>
                <textarea type="text" class="form-control" id="text" required
                          placeholder="請輸入訊息" rows="4" cols="50"
                          th:field="*{text}"></textarea>
            </div>
            <div class="form-group">
                <label for="labels">Labels</label>
                <input type="text" class="form-control" id="labels" required
                       placeholder="請輸入標籤" th:field="*{labels}">
            </div>

            <div class="form-group form-check">
                <input type="checkbox" class="form-check-input"
                       id="archived" th:field="*{archived}">
                <label class="form-check-label" for="archived">Archived</label>
            </div>
            <button th:unless="${browserTextModel.id}" type="submit"
                    class="btn btn-primary">建立新記事本
            </button>
            <button th:if="${browserTextModel.id}" type="submit"
                    class="btn btn-primary" name="update">編輯
            </button>
            <button th:if="${browserTextModel.id}" type="submit"
                    class="btn btn-primary" name="delete">刪除
            </button>

        </form>

        <h2>我的記事本清單</h2>
        <ul class="list-group">
            <li class="list-group-item" th:each="memoList:${memoList}">
                <div class="media">
                    <div class="media-body">
                        <h5 class="mt-0"><a th:text="${memoList.title}"
                                            th:href="@{/memos/{id}(id = ${memoList.id})}"></a>
                        </h5>
                        <p th:text="${memoList.text}"></p>
                        <p th:text="${memoList.labels}"></p>
                        <span th:text="${'創建時間 ' + memoList.timestamp}"></span>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>
</body>
</html>