<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">

<link rel="stylesheet" th:href="@{/style.css}">
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
	integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
	crossorigin="anonymous">

<title>網頁記事本</title>
</head>

<body>

	<h2 align="center">網頁記事本</h2>

	<!-- 建立新記事本 -->
	<div align="center" style="background-color: #f2f2f2">
		<form class="createNew" id="createNew"
			th:object="${browserTextObject}">
			<p>
				<input id="title" name="title01" type="text" required
					placeholder="請輸入標題">
			</p>
			<p>
				<textarea id="text" name="text01" type="text" required
					placeholder="請輸入訊息" rows="4" cols="50"></textarea>
			</p>
			<p>
				<input id="label" name="label01" type="text" required
					placeholder="請輸入標籤">
			</p>
			<button type="submit" class="createBtn">建立新記事本</button>
		</form>		
	</div>


	<div>
	    <h2 align="left">我的記事本清單</h2>
		<p th:each="test:${browserTextList}">
			<button type="button" class="btn btn-danger" data-toggle="modal"
				data-target="#alter" th:text="${test.title}" th:onclick="findBrowserTextById(${test.id});"></button>
		</p>
	</div>


	<div class="modal fade" id="alter">
		<div class="modal-dialog">
			<div class="modal-content bg-warning text-danger">
				
				<div>
					<input type="text" th:field="${designatedText.title}">
				</div>

				<div class="modal-body">
				<textarea rows="10" cols="60" th:field="${designatedText.text}"></textarea>
				</div>
				
				<div>
				</div>

				<div class="modal-footer">
					<button type="button" class="btn btn-success" data-dismiss="modal">儲存修改</button>
					<button type="button" class="btn btn-danger" data-dismiss="modal">取消修改</button>
				</div>

			</div>
		</div>
	</div>

</body>
<script src="https://code.jquery.com/jquery-2.2.4.js" ></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"></script>
<script>
	function createBrowserText(e) {
		e.preventDefault();
		console.log('ajax function initialized')
		let title01 = $('#title').val();
		let text01 = $('#text').val();
		let label01 = $('#label').val();
		$.ajax({
			url : "/",
			type : "POST",
			dataType : "JSON",
			data : {
				"title" : title01,
				"text" : text01,
				"label" : label01,
			},
			success : function() {
				location.reload();
			},
			error : function() {
				location.reload();
			}
		})
	}

	function findBrowserTextById(id) {
		console.log('ajax initialized')
		$.ajax({
			url : "/" + id,
			type : "GET",
			dataType : "JSON",
			success : function(obj) {
				alert('Data Get')
			},
			error : function(xhr, ajaxOptions, thrownError) {
				alert('Data Failed To Be Get')
			}
		})
	}
	
	console.log($('.createBtn'))
	$('.createNew').on('submit', createBrowserText)
</script>
</html>